@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended-Regular.otf) format('opentype'), url(../fonts/MonumentExtended-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: block
}
@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended-Regular.otf) format('opentype'), url(../fonts/MonumentExtended-Regular.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: block
}
@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended-Regular.otf) format('opentype'), url(../fonts/MonumentExtended-Ultrabold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block
}
* {
  word-spacing: normal !important
}

