/* Scrollbar */
::-webkit-scrollbar {
    border-radius: 0.5rem;
    height: 0.2rem;
    /* width of the horizontal  scrollbar */
    width: 0.2rem;
    /* width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background: var(--page-color);
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    /* creates padding around scroll thumb */
}